<!DOCTYPE html>
<html lang="fr" ng-app="dapxApp">

<head>
	<meta charset="UTF-8">

	<title>Reddit app by Nathan Simon &amp; Julien Blouet</title>
	<!-- CSS -->
	<link rel="stylesheet" href="../app/assets/css/screen.css">
	<link rel="stylesheet" href="../app/assets/bower_components/bootstrap/dist/css/bootstrap.min.css">

	<!-- ANGULAR -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>

	<!-- APP -->
	<script src="../app/assets/js/app.js"></script>

	<!-- FACTORIES -->
	<script src="../app/services/subFactory.js"></script>

	<!-- CONTROLLERS -->
	<script src="../app/controllers/sidebarCtrl.js"></script>
	<script src="../app/controllers/mainCtrl.js"></script>
	<script src="../app/controllers/subCtrl.js"></script>

</head>

<body class="app-tpl container-fluid">

	<header class="col-md-12">
		<h3><a href="#">Reddit app</a></h3>
		<span> - By Nathan Simon &amp; Julien Blouet</span>
	</header>

	<aside ng-controller="sidebarCtrl" class="col-md-4 col-lg-3">
		<ul>
			<li class="clearfix">
				<span>Search for a subreddit :</span>
				<form>
					<input ng-model="inputSub" class="col-md-10" type="text" placeholder="Example : aww">
					<input ng-click="gotoSub(inputSub)" class="col-md-2" type="submit" value="Go!">
				</form>
			</li>
			<hr>
			<li>
				<a href="#soccer">r/soccer</a>
				<p>News, results and discussion about the beautiful game.</p>
			</li>
			<hr>
			<li>
				<a href="#webdev">r/webdev</a>
				<p>Want to know what's new for Web Developers? You're in the right place!</p>
			</li>
			<hr>
			<li>
				<a href="#todayilearned">r/todayilearned</a>
				<p>This is a place to discuss and share anything related to wonderful craft of card magic.</p>
			</li>
			<hr>
			<li>
				<a href="#aww">r/aww</a>
				<p>Things that make you go AWW! -- like puppies, and bunnies, and so on...</p>
			</li>
			<hr>
			<li>
				<a href="#cardmagic">r/cardmagic</a>
				<p>This is a place to discuss and share anything related to wonderful craft of card magic.</p>
			</li>
		</ul>
	</aside>

	<div id="main" class="col-md-offset-4 col-md-8 col-lg-offset-3 col-lg-9">
		<div ng-view></div>
	</div>

	<!-- JS -->
	<script src="../app/assets/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../app/assets/bower_components/angular-ui-bootstrap-bower/ui-bootstrap.min.js"></script>
</body>

</html>