<div ng-show="loading">Chargement...</div>

<div ng-hide="loading" class="posts">
	<h1 class="col-xs-12 col-md-6">r/{{ subName }}</h1>
	<div ng-hide="loading" class="col-xs-12 col-md-6 sort">
		<ul>
			<li>
				<a ng-click="sortPosts('popular')" href="">Popular</a>
			</li>
			<li>
				<a ng-click="sortPosts('new')" href="">New</a>
			</li>
			<li>
				<a ng-click="sortPosts('rising')" href="">Rising</a>
			</li>
			<li>
				<a ng-click="sortPosts('controversial')" href="">Controversial</a>
			</li>
			<li>
				<a ng-click="sortPosts('top')" href="">Top</a>
			</li>
		</ul>
	</div>


	<div ng-repeat="post in posts" class="col-md-12 post">
		<a class="col-md-10 post-url" href="{{ post.data.url }}" target="_blank">{{ post.data.title }}</a> 
		<a class="col-md-2 post-permalink" href="http://reddit.com{{ post.data.permalink }}" target="_blank">See thread</a>
	</div>
</div>